<h1><%= @greeting %> What would you like to do today?</h1>
<h3><%= link_to 'Send a package with someone', new_sending_shipment_path %></h3>
<a href='/takers/new'><h3>Take a package for someone</h3></a>
<a href='#'><h3>View my packages</h3></a>