<h1><%= @greeting %> What would you like to do today?</h1>
<a href=<%= new_sending_shipment_path %>><button><h3>Send a package with someone</h3></button></a>
<br>
<br>
<a href='/takers/new'><button><h3>Take a package for someone</h3></button></a>
<br>
<br>
<a href=<%= view_general_packages_path%>><button><h3>View my packages</h3></button></a>



<!-- <h3><%= link_to 'Send a package with someone', new_sending_shipment_path %></h3> -->