<p>Hey <%= @sender.first_name %>,
<br>
<br>
<<<<<<< HEAD
Someone is considering taking your package and has sent the following email:
=======
Someone is considering taking your package going to <%= @order.shipping_to.address %>, and has sent the following email:
>>>>>>> 66fb2458241cf7d4e685580f00a299900b40269e
<br>
<br>
<hr>
<%= @questions_or_comments %></p>
<hr>
<<<<<<< HEAD
<p>Resond to him via his email at <%= @taker.email %></p>
=======
<p>Click reply to respond to his email.</p>
>>>>>>> 66fb2458241cf7d4e685580f00a299900b40269e
