<p>Hey <%= @sender.first_name %>,
<br>
<br>
Someone is considering taking your package going to <%= @order.shipping_to.address %>and has sent the following email:
<br>
<br>
<hr>
<%= @questions_or_comments %></p>
<hr>
<p>Click reply to respond to his email.</p>
