<p>Hey <%= @sender.first_name %>,
<br>
<br>
<%= @taker.first_name %> would like to take your package going to <%= @order.shipping_to.address %>. Click <a href="#">here</a> to see his info and confirm the process.</p>