<div class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class='table table-hover'>
			<thead>
				<tr>
					<th>
					</th>
					<th>
						Package #
					</th>
					<th>
						Shipping From:
					</th>
					<th>
						Shipping To:
					</th>
					<th>
						Package Deadline
					</th>
				</tr>
			</thead>

			<% @orders.each do |order| %>

			<tbody>
				<tr class='  '>
					<td>
						<a href="/takers/<%=order.id%>">View</a>
					</td>
					<td>
						<%= order.id %>
					</td>
					<td>
						<%= order.shipping_from %>
					</td>
					<td>
						<%= order.shipping_to %>
					</td>
					<td>
						NA
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>