<div class='row'>
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<table class='table table-hover'>
			<thead>
				<tr>
					<th>
					Package #
					</th>

					<th>
						Shipping From
					</th>

					<th>
						Shipping To
					</th>

					<th>
						Price
					</th>

					<th>
						
					</th>


				</tr>
			</thead>
			<tbody>
				<tr class='  '>
					<td>
						<a href=<% view_sending_package_path(order.id) %>>Delete</a>
					</td>
						<%
					</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-1"></div>
</div>