<button>
	<a href=<%= view_sending_packages_path %>><h3>Packages that you are currently sending.</h3></a>
</button>

<br>
<br>

<button>
	<a href=<%= view_taking_packages_path %>><h3>Packages that you are attempting to deliver for someone else.</h3></a>
</button>