<div class="row">
	<div class="col-sm-12">
		<%= form_tag "/talk_to_senders", {:class => "form form-horizontal"} do %>
			<div class="form-group">
				<label class="col-md-3 control-label" for="input-textarea"> Your Email:</label>
					<div class="col-md-5">
					<%= text_field_tag :questions_or_comments_to_sender, "", :class => 'form-control', :id => 'input-textarea', :placeholder => "Textarea", :rows => "9" %>
					<%= hidden_field_tag :order_id, params[:order_id] %>
					<div class="form-actions mg-t-lg">
						<div class="row">
							<div class="col-md-9 col-md-offset-3">	
							<%= submit_tag "Send to Owner", :class => 'btn btn-contrast' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
