<%= form_tag "/talk_to_senders" do %>
	<div class="">
		<%= text_field_tag :questions_or_comments_to_sender, :class => "whatever" %>
	</div>
	<%= hidden_field_tag :order_id, params[:order_id] %>
	<%= submit_tag "send questions or/and comments" %>
<% end %>